thunder-springsupport/src/main/resources/META-INF/thunder.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://www.david.learn.com/spring/schema/thunder"
            xmlns:beans="http://www.springframework.org/schema/beans"
            targetNamespace="http://www.david.learn.com/spring/schema/thunder">
    <xsd:import namespace="http://www.springframework.org/schema/beans"/>

    <xsd:element name="referer">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">

                    <xsd:attribute name="interface" type="xsd:string"/>
                    <xsd:attribute name="directUrl" type="xsd:string"/>

                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>